body {
  margin: 0px;
}
.domain {
  display: none;
}
.square {
  display: inline-block;
  position: relative;
  height: 25vmin;
  width: 25vmin;
}

.long {
  display: inline-block;
  position: relative;
  height: 25vmin;
  width: 100vmin;}

.tick line {
stroke: #b5b5b5;
stroke-width: 1;
}


.axis line,
.axis circle {
fill: none;
stroke:  LightGrey;
}

.axis :last-of-type circle {
  stroke: #333;
  stroke-dasharray: none;
}

.tick text, .legendCells text {
  fill: #8E8883;
  font-size: 6pt;
  font-family: sans-serif;
}

.axis-label, .legend-label {
  fill: #635F5D;
  font-size: 8pt;
  font-family: sans-serif;
}


	.line_casual {
	fill: none;
  stroke: darkblue;
  stroke-width: 2px;
	clip-path: url(#clip)
  }
  .line_registered {
	fill: none;
  stroke: green;
  stroke-width: 2px;
	clip-path: url(#clip)
  }
 .line_total {
	fill: none;
  stroke: black;
  stroke-width: 1px;
	clip-path: url(#clip)
  }
	.line_temp {
	fill: none;
  stroke: orange;
  stroke-width: 1px;
  clip-path: url(#clip)
  }

  .zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}
