#map {
  width: 1400px;
  height: 950px;
  /*top: 20px;*/
  /*left: 20px;*/
  position: relative;
  padding: 10px

}

#country {
  position: relative;
  max-height: 250px; /* you can change as you need it */
  overflow: auto; /* to get scroll */
}