@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: Roboto, sans-serif;
  font-size: 1em;
}

/* Make the chart container fill the page using CSS. */
#visualization {
  left: 0px;
  right: 0px;
  top: 5em;
  bottom: 0px;
  display: block;
}

/***** member/town selector *****/

#townSearch, #personSearch {
  display: inline;
}

/***** Map CSS code *******/

.car {
  fill: #33a02c;
  opacity: 0.7;
  stroke: #666;
  stroke-width:  1px;
}

.car:hover {
  opacity: 1;
}

.inactive, .inactive:hover {
  fill: #fff;
  stroke: #ccc;
}

.active {
  opacity: 1;
  fill: #33a02c;
  stroke: #333;
}

.instructions {
  fill: #666;
}

.townLabel {
  fill: #333;
}

.carLabel {
  fill: #333;
}

.carLine {
  fill: #aaa;
}

.area {
  stroke: #888;
  stroke-width: 1px;
  opacity: 0.9;
  fill: #eaeaea;
  transition: opacity 0.2s;
}

.area:hover {
  fill: #33a02c;
}

.reachable {
  opacity: 1;
}

.unreachable {
  opacity: 0.3;
}

.alreadyRun {
  fill: #2c7bb6;
}

.hasRaceSoon {
  fill: #fdae61;
}

.hasRaceVerySoon {
  fill: #d73027;
}

.d3-tip {
  font-size: 1em;
  line-height: 1.2;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.85);
  color:  #fff;
  border-radius: 0.5em;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
/* style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
/* more tooltip formats */
.townname {
  font-size: 1.1em;
}
.racedate {
  color: skyblue;
  font-weight: bold;
}
.racedistance {
  color: orange;
  font-weight: bold;
}
.racename {
  color: #fff;
}

/************ calendar CSS *********/

.day_with_race:hover {
  fill: #33a02c;
}

.yearLabel {
  fill: #666;
}
.monthLabel {
  text-anchor: middle;
  fill: #666;
}

